# ImportCell

In [2]:
import numpy as np
import pandas as pd
from pandasql import sqldf

# DataLoad

In [3]:
cities_regions = pd.read_csv("C:\\Users\\Mr0Wo\\OneDrive\\Рабочий стол\\Git_repositories\\Data-science-cases\\Analytical-cases\\Shift+Enter_MTS\\DataAnalytic\\task1\\cities_regions.csv")

In [4]:
cnum_d = pd.read_csv("C:\\Users\\Mr0Wo\\OneDrive\\Рабочий стол\\Git_repositories\\Data-science-cases\\Analytical-cases\\Shift+Enter_MTS\\DataAnalytic\\task1\\cnum_d.csv")

In [5]:
geo_d = pd.read_csv("C:\\Users\\Mr0Wo\\OneDrive\\Рабочий стол\\Git_repositories\\Data-science-cases\\Analytical-cases\\Shift+Enter_MTS\\DataAnalytic\\task1\\geo_d.csv")

In [6]:
host_d = pd.read_csv("C:\\Users\\Mr0Wo\\OneDrive\\Рабочий стол\\Git_repositories\\Data-science-cases\\Analytical-cases\\Shift+Enter_MTS\\DataAnalytic\\task1\\host_d.csv")

In [7]:
twogis_hosts = pd.read_csv("C:\\Users\\Mr0Wo\\OneDrive\\Рабочий стол\\Git_repositories\\Data-science-cases\\Analytical-cases\\Shift+Enter_MTS\\DataAnalytic\\task1\\twogis_hosts.csv")

In [8]:
twogis_phones = pd.read_csv("C:\\Users\\Mr0Wo\\OneDrive\\Рабочий стол\\Git_repositories\\Data-science-cases\\Analytical-cases\\Shift+Enter_MTS\\DataAnalytic\\task1\\twogis_phones.csv")

# Data

In [9]:
cities_regions.head()

   geo_area_key city_name  region     city_area
0   86386033426    Москва  Москва    Медведково
1   86125986808    Москва  Москва      Царицыно
2   85685581132    Москва  Москва    Медведково
3   86348284631    Москва  Москва     Измайлово
4   85949821575    Москва  Москва  Бабушкинский

In [10]:
cnum_d.head()

,msisdn,ts,called_party_number,call_type,direction
0,565cf6bccddd71d0e381358f96a5743e,2022-07-19 02:01:05,900,2,I
1,565cf6bccddd71d0e381358f96a5743e,2022-04-09 07:47:58,79181326867,1,O
2,565cf6bccddd71d0e381358f96a5743e,2022-03-06 08:27:19,79892953676,1,I
3,565cf6bccddd71d0e381358f96a5743e,2022-11-18 12:48:22,79181846285,1,I
4,565cf6bccddd71d0e381358f96a5743e,2022-07-17 10:48:34,79180152465,1,I

In [11]:
geo_d.head()

                             msisdn                   ts  geo_area_key
0  5fb9cedebecd39fc7886126b2a20d819  2022-02-03 00:53:00   87283601419
1  5fb9cedebecd39fc7886126b2a20d819  2022-07-22 11:02:29   87283601419
2  f1f96cd7405b19396660b1a650e476ba  2022-02-05 09:21:01   87283601419
3  c46b509b519c69946d20fde5b108e5ef  2022-12-12 01:32:07   87283601419
4  2f395ff20634c956f112b98a8e0dffbb  2022-09-22 06:55:39   87283601419

In [12]:
host_d.head()

,msisdn,ts,host
0,3ae06583aa2560b723ae06583aaf619f,2022-06-18 01:16:12,hwid.platform.dbankcloud.ru
1,3ae06583aa2560b723ae06583aaf619f,2022-02-26 04:02:46,assets.applovin.com
2,3ae06583aa2560b723ae06583aaf619f,2022-08-23 05:21:01,uc-drru.hispace.dbankcloud.ru
3,3ae06583aa2560b723ae06583aaf619f,2022-08-22 06:38:31,masters-masters.ru
4,3ae06583aa2560b723ae06583aaf619f,2022-08-24 05:02:32,gnpfesdk-pa.googleapis.com

In [13]:
twogis_hosts.head()

,rubric,host_name,organization_name
0,Новостройки,italian-quartal.com,"Итальянский квартал, жилой комплекс, ООО ИНСИГ..."
1,Оценка собственности,0-cenka.ru,0-ценка.ру
2,Детская одежда,0-childrens-store.business.site,"0+, детский магазин"
3,Безалкогольные напитки,0-drink.store,"0-drink.store, интернет-магазин"
4,Автомобили,0.bnmotors.ru,NaN

In [14]:
twogis_phones.head()

,rubric,phone_num,organization_name
0,Памятники / Надгробия,3422021066,"Память, ритуальное агентство"
1,Юридические услуги,3422021070,"Томилов, Трутнев Групп, ООО, юридическая компания"
2,Заказ автобусов,3422021082,"АТЛАНТ ВОЯЖ, служба заказа автобусов"
3,Продажа земельных участков / малоэтажных домов,3422021088,"Болдино Вилладж, компания по продаже земельных..."
4,Доставка готовых блюд,3422021100,"Diesel room, городское кафе"

# Task

Например, ее планирует использовать индивидуальный  
предприниматель, только что открывший кофейню по адресу г. Тверь, ул. Трёхсвятская,  
д.3, который хочет привлечь как можно больше новых посетителей из числа абонентов МТС.  
Твоя задача - использовать данные, которые у нас имеются, чтобы:  
● Описать алгоритм, который позволит ему собрать сегмент абонентов.  
● Предложить наиболее подходящий способ привлечения новых клиентов.

Очевидно, что наш таргет - абоненты, которые могут быть заинтересованы в посещении кафе, расположенного по адресу г. Тверь, ул. Трёхсвятская,
д.3

Интересующие нас клиенты должны удовлетворять некоторым условиям:
1. Были исходящие звонки в кофейни, булочные и подобные заведения
2. Были посещения сайтов этой же категории 
3. Абоненты должны находиться рядом с интересующей нас кофейней

# PandasWay

Заметим, что ул. Трёхсвятская, д.3 находится в центральном районе Твери

In [15]:
# Получили коды интересующей нас локации
Tver_code = cities_regions.loc[(cities_regions['city_name'] == 'Тверь') & (cities_regions['city_area'] == 'Центральный')]['geo_area_key']

In [16]:
cofe_rubric = ['Кофейни', 'Кафе', 'Пекарни', 'Пекарная', 'Булочные', 'Булочная']

In [17]:
# Получили телефоны интересующего нас сегмента
cofe_phones = twogis_phones.loc[twogis_phones['rubric'].isin(cofe_rubric)]['phone_num']

In [18]:
# Получили хоcты нашего сегмента
code_hosts = twogis_hosts.loc[twogis_hosts['rubric'].isin(cofe_rubric)]['host_name']

In [19]:
# Получили id абонентов, находящихся возле нашей кофейни
users_geo = geo_d.loc[geo_d['geo_area_key'].isin(Tver_code)]['msisdn'].unique()

In [49]:
# Получили id абонентов, звонивших в кофейни
users_phone = pd.Series(cnum_d.loc[(cnum_d['called_party_number'].isin(cofe_phones)) & (cnum_d['direction'] == 'O')]['msisdn'].unique(),name='msisdn')

In [50]:
# Получили id абонентов, которые посещали хосты интересующего нас сегмента
users_host = pd.Series(host_d.loc[host_d['host'].isin(code_hosts)]['msisdn'].unique(), name='msisdn')

In [53]:
# Создали датафрейм, в котором помещены id абонентов, которые находятся рядом с ул. Трёхсвятская, д.3
users = pd.DataFrame(pd.Series(users_geo)).rename(columns={0:'msisdn'})

In [54]:
# Объеденяем абонентов, чтобы они соответсвовали всем 3 нашим условиям, описаным ранее
users.merge(users_host).merge(users_phone)

Empty DataFrame
Columns: [msisdn]
Index: []

# SQLWay

In [32]:
q = """
WITH geo_users AS 
(SELECT DISTINCT msisdn
FROM geo_d
JOIN cities_regions
ON cities_regions.geo_area_key = geo_d.geo_area_key
WHERE cities_regions.city_area LIKE 'Центральный' AND cities_regions.city_name LIKE 'Тверь'),

phone_host_users AS 
( SELECT DISTINCT cnum_d.msisdn
  FROM cnum_d
  WHERE cnum_d.called_party_number IN (
  SELECT phone_num FROM twogis_phones WHERE twogis_phones.rubric IN ('Кофейни', 'Кафе', 'Пекарни', 'Пекарная', 'Булочные', 'Булочная')
  ) AND cnum_d.direction like 'O'
  UNION
  SELECT DISTINCT host_d.msisdn
   FROM host_d
   WHERE host_d.host IN (SELECT host_name FROM twogis_hosts WHERE twogis_hosts.rubric IN 
   ('Кофейни', 'Кафе', 'Пекарни', 'Пекарная', 'Булочные', 'Булочная')
   )
)


SELECT geo_users.msisdn
FROM geo_users
JOIN phone_host_users
ON phone_host_users.msisdn = geo_users.msisdn
"""

In [33]:
sqldf(q)

Empty DataFrame
Columns: [msisdn]
Index: []

In [55]:
# Нет таких абонентов!

# Способы привлечь новую аудиторию
### 1. Рассылка sms с уведомлением об открытии нового кафе и вручением персонального скидочного купона, в честь открытия
### 2. Уведомление о проведении специальной акции: первым n зарегистрировавшимся пользователям m% постоянная скидка на всю продукцию 
### 3. Классические листовки, указатели, банеры, промоутеры и т.д.
### 4. Расширение базы потенциальных клиентов: покупка/обмен информации о клиентах с другими компаниями
### 5. Аккаунты в мессенджерах и соцсетях, например VK, TikTok и т.д. И привлечение клиентов через эти акаунты