In [1]:
import pandas as pd
import math
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, \
    f1_score, roc_auc_score
import catboost
from catboost import CatBoostClassifier, Pool

import warnings
warnings.filterwarnings('ignore')

Задача - определение пола абонента на основании банковских транзакционных данных .  

Для каждого клиента банка из файла test_set.csv проставьте предиктив пола абонента по следующему примеру:   

client_id;gender_prediction  
61240380;1  
34114030;0  
61240380;0  
34114031;1  

Файлы:
types.csv  - справочник типов транзакций  
codes.csv - справочник кодов транзакций  
transactions.csv - транзакционные данные по банковским операциям   
train_set.csv - тренировочный сет с разметкой пола абонента(0/1  - пол абонента)  
test_set.csv - тестовый сет, который необходимо разметить  
  

Описание полей для файла transactions.csv:  
  
client_id - id клиента банка  
datetime - дата транзакции(формат - порядковый_номер_дня час:минута:секунда.пример - 421 06:33:15)  
code - номер кода транзакции  
type - номер типа транзакции  
sum - сумма транзакции

In [2]:
types = pd.read_csv("C:/Users/Mr0Wo/OneDrive/Рабочий стол/Git_repositories/Data-science-cases/ML-cases/user-gender-detection/types.csv", sep=';')
test_set = pd.read_csv("C:/Users/Mr0Wo/OneDrive/Рабочий стол/Git_repositories/Data-science-cases/ML-cases/user-gender-detection/test_set.csv",sep=';')
codes = pd.read_csv("C:/Users/Mr0Wo/OneDrive/Рабочий стол/Git_repositories/Data-science-cases/ML-cases/user-gender-detection/codes.csv", sep=';')
transactions = pd.read_csv("C:/Users/Mr0Wo/OneDrive/Рабочий стол/Git_repositories/Data-science-cases/ML-cases/user-gender-detection/transactions.csv", sep=';')
train_set = pd.read_csv("C:/Users/Mr0Wo/OneDrive/Рабочий стол/Git_repositories/Data-science-cases/ML-cases/user-gender-detection/train_set.csv", sep=';')

In [3]:
train_set.head()

   client_id  target
0   75063019       0
1   86227647       1
2    6506523       0
3   50615998       0
4   95213230       0

In [4]:
test_set.head()

   client_id
0   61240380
1   34114030
2   15926722
3   50598019
4   76475250

In [5]:
transactions.head()

   client_id      datetime  code  type         sum
0   96372458  421 06:33:15  6011  2010  -561478.94
1   24567813  377 17:20:40  6011  7010    67377.47
2   21717441   55 13:38:47  6011  2010   -44918.32
3   14331004  263 12:57:08  6011  2010 -3368873.66
4   85302434  151 10:34:12  4814  1030    -3368.87

In [6]:
types.head()

   type                                   type_description
0  8001                 Установление расх. лимита по карте
1  2411  Перевод с карты на счет др.лица в одном тер. б...
2  4035                                    н/д(нет данных)
3  3001            Комиссия за обслуживание ссудного счета
4  2420  Перевод с карты на счет физ.лица в другом тер....

In [7]:
codes.head()

   code                                   code_description
0  5944  Магазины по продаже часов, ювелирных изделий и...
1  5621                           Готовые сумочные изделия
2  5697       Услуги по переделке, починке и пошиву одежды
3  7995                       Транзакции по азартным играм
4  5137             Мужская, женская и детская спец-одежда

# WorkFlow

In [8]:
df = transactions.merge(train_set, how='left')

In [9]:
df

        client_id      datetime  code  type         sum  target
0        96372458  421 06:33:15  6011  2010  -561478.94     0.0
1        24567813  377 17:20:40  6011  7010    67377.47     NaN
2        21717441   55 13:38:47  6011  2010   -44918.32     0.0
3        14331004  263 12:57:08  6011  2010 -3368873.66     NaN
4        85302434  151 10:34:12  4814  1030    -3368.87     0.0
...           ...           ...   ...   ...         ...     ...
130034   15836839  147 11:50:53  5411  1010   -26344.59     NaN
130035   28369355  305 11:59:34  4829  2330   -24705.07     0.0
130036   40949707  398 21:13:58  5411  1110   -40353.72     1.0
130037    7174462  409 13:58:14  5411  1010   -25536.06     1.0
130038   92197764  319 00:00:00  5533  1110   -12127.95     1.0

[130039 rows x 6 columns]

In [10]:
ml_df = df.groupby('client_id')['code'].count().reset_index().rename(columns={'code':'transactions_count'})

In [11]:
ml_df

      client_id  transactions_count
0         22899                   9
1         27914                   4
2         28753                  13
3         31385                  13
4         38084                  26
...         ...                 ...
8651   99967537                   1
8652   99984336                   4
8653   99985917                   1
8654   99991245                   4
8655   99999680                  15

[8656 rows x 2 columns]

In [12]:
t = df.groupby('client_id')['code'].value_counts()
t

client_id  code
22899      6011    4
           6010    2
           4814    1
           5399    1
           5541    1
                  ..
99999680   6011    4
           5541    3
           5411    2
           5499    1
           5661    1
Name: code, Length: 46663, dtype: int64

In [13]:
t.name = 'code_count'

In [14]:
t = t.reset_index().sort_values(['client_id', 'code_count'], ascending=False)

In [15]:
t['client_id'].nunique()

8656

In [16]:
t = t.groupby('client_id')['code'].first().reset_index().rename(columns={'code':'code_mode'})

In [17]:
ml_df = ml_df.merge(t, how='left')

In [18]:
ml_df

      client_id  transactions_count  code_mode
0         22899                   9       6011
1         27914                   4       4814
2         28753                  13       4814
3         31385                  13       4814
4         38084                  26       6011
...         ...                 ...        ...
8651   99967537                   1       6011
8652   99984336                   4       6011
8653   99985917                   1       6011
8654   99991245                   4       6011
8655   99999680                  15       4814

[8656 rows x 3 columns]

In [19]:
t = df.groupby('client_id')['type'].value_counts()
t.name = 'type_count'
t = t.reset_index().sort_values(['client_id', 'type_count'], ascending=False)
t = t.groupby('client_id')['type'].first().reset_index().rename(columns={'type':'type_mode'})
ml_df = ml_df.merge(t, how='left')

In [20]:
ml_df

      client_id  transactions_count  code_mode  type_mode
0         22899                   9       6011       4010
1         27914                   4       4814       1030
2         28753                  13       4814       1010
3         31385                  13       4814       1030
4         38084                  26       6011       1010
...         ...                 ...        ...        ...
8651   99967537                   1       6011       2010
8652   99984336                   4       6011       7010
8653   99985917                   1       6011       2010
8654   99991245                   4       6011       7010
8655   99999680                  15       4814       1030

[8656 rows x 4 columns]

In [21]:
t = df.groupby('client_id')['sum'].sum().reset_index()

In [22]:
ml_df = ml_df.merge(t)

In [23]:
ml_df

      client_id  transactions_count  code_mode  type_mode         sum
0         22899                   9       6011       4010    50847.54
1         27914                   4       4814       1030    74115.21
2         28753                  13       4814       1010 -2589800.29
3         31385                  13       4814       1030   -83525.38
4         38084                  26       6011       1010   693495.66
...         ...                 ...        ...        ...         ...
8651   99967537                   1       6011       2010  -336887.37
8652   99984336                   4       6011       7010    78607.06
8653   99985917                   1       6011       2010  -224591.58
8654   99991245                   4       6011       7010   569609.16
8655   99999680                  15       4814       1030  -651595.19

[8656 rows x 5 columns]

## Baseline

In [24]:
train_df = train_set.merge(ml_df)

In [25]:
train_df

      client_id  target  transactions_count  code_mode  type_mode         sum
0      75063019       0                  29       6011       1010    89032.60
1      86227647       1                  27       6011       1030  -606058.60
2       6506523       0                  53       6010       7070  2635753.74
3      50615998       0                   7       4814       1030   -42672.40
4      95213230       0                  34       4814       1030   214292.66
...         ...     ...                 ...        ...        ...         ...
5995   71577803       0                   5       7230       1010  -114601.90
5996    8128547       1                   7       6011       1030  -262708.36
5997   26055781       0                   6       4829       1010   -42863.31
5998   73504380       1                  19       5411       1010   -75992.84
5999    1846496       0                  10       5411       1010   -16392.05

[6000 rows x 6 columns]

In [26]:
X = train_df.drop(columns=['client_id', 'target'])
y = train_df.target

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42)

In [28]:
cb_model = CatBoostClassifier(verbose=100)

In [29]:
cb_model.fit(X_train, y_train)

Learning rate set to 0.020129
0:	learn: 0.6922368	total: 140ms	remaining: 2m 19s
100:	learn: 0.6613121	total: 327ms	remaining: 2.91s
200:	learn: 0.6518821	total: 538ms	remaining: 2.14s
300:	learn: 0.6455728	total: 734ms	remaining: 1.7s
400:	learn: 0.6400762	total: 947ms	remaining: 1.42s
500:	learn: 0.6332070	total: 1.14s	remaining: 1.14s
600:	learn: 0.6245969	total: 1.33s	remaining: 882ms
700:	learn: 0.6162253	total: 1.51s	remaining: 646ms
800:	learn: 0.6088395	total: 1.7s	remaining: 421ms
900:	learn: 0.6017292	total: 1.89s	remaining: 208ms
999:	learn: 0.5953749	total: 2.07s	remaining: 0us

In [30]:
y_pred = cb_model.predict(X_test)

In [31]:
f1_score(y_test, y_pred)

0.46650717703349287

In [32]:
roc_auc_score(y_test, y_pred)

0.5944677169266617

## Feature engineering

In [33]:
ml_df

      client_id  transactions_count  code_mode  type_mode         sum
0         22899                   9       6011       4010    50847.54
1         27914                   4       4814       1030    74115.21
2         28753                  13       4814       1010 -2589800.29
3         31385                  13       4814       1030   -83525.38
4         38084                  26       6011       1010   693495.66
...         ...                 ...        ...        ...         ...
8651   99967537                   1       6011       2010  -336887.37
8652   99984336                   4       6011       7010    78607.06
8653   99985917                   1       6011       2010  -224591.58
8654   99991245                   4       6011       7010   569609.16
8655   99999680                  15       4814       1030  -651595.19

[8656 rows x 5 columns]

In [34]:
t = df.groupby('client_id')['type'].value_counts()
t.name = 'type_count'
t = t.reset_index()
t = t.groupby('client_id').head(3)
t = t.groupby('client_id')['type'].sum().reset_index().rename(columns={'type':'sum_type'})
t

      client_id  sum_type
0         22899      6050
1         27914     15060
2         28753      3150
3         31385      3150
4         38084      9230
...         ...       ...
8651   99967537      2010
8652   99984336      9020
8653   99985917      2010
8654   99991245     10350
8655   99999680      3150

[8656 rows x 2 columns]

In [35]:
ml_df = ml_df.merge(t)
ml_df

,client_id,transactions_count,code_mode,type_mode,sum,sum_type
0,22899,9,6011,4010,50847.54,6050
1,27914,4,4814,1030,74115.21,15060
2,28753,13,4814,1010,-2589800.29,3150
3,31385,13,4814,1030,-83525.38,3150
4,38084,26,6011,1010,693495.66,9230
...,...,...,...,...,...,...
8651,99967537,1,6011,2010,-336887.37,2010
8652,99984336,4,6011,7010,78607.06,9020
8653,99985917,1,6011,2010,-224591.58,2010
8654,99991245,4,6011,7010,569609.16,10350
8655,99999680,15,4814,1030,-651595.19,3150

In [36]:
t = df.groupby('client_id')['code'].value_counts()
t.name = 'code_count'
t = t.reset_index()
t = t.groupby('client_id').head(3)
t = t.groupby('client_id')['code'].sum().reset_index().rename(columns={'code':'sum_code'})
ml_df = ml_df.merge(t)
ml_df

,client_id,transactions_count,code_mode,type_mode,sum,sum_type,sum_code
0,22899,9,6011,4010,50847.54,6050,16835
1,27914,4,4814,1030,74115.21,15060,16835
2,28753,13,4814,1010,-2589800.29,3150,15457
3,31385,13,4814,1030,-83525.38,3150,16236
4,38084,26,6011,1010,693495.66,9230,16251
...,...,...,...,...,...,...,...
8651,99967537,1,6011,2010,-336887.37,2010,6011
8652,99984336,4,6011,7010,78607.06,9020,6011
8653,99985917,1,6011,2010,-224591.58,2010,6011
8654,99991245,4,6011,7010,569609.16,10350,16339
8655,99999680,15,4814,1030,-651595.19,3150,16366

In [37]:
train_df_1 = train_set.merge(ml_df)
X_1 = train_df_1.drop(columns=['client_id', 'target'])
y_1 = train_df_1.target
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X_1, y_1, test_size=.2, random_state=42)

In [38]:
cb_model_1 = CatBoostClassifier(verbose=100)
cb_model_1.fit(X_train_1, y_train_1)

Learning rate set to 0.020129
0:	learn: 0.6922999	total: 2.12ms	remaining: 2.12s
100:	learn: 0.6573181	total: 198ms	remaining: 1.76s
200:	learn: 0.6434971	total: 390ms	remaining: 1.55s
300:	learn: 0.6326631	total: 598ms	remaining: 1.39s
400:	learn: 0.6231449	total: 814ms	remaining: 1.22s
500:	learn: 0.6123039	total: 1.01s	remaining: 1.01s
600:	learn: 0.6009471	total: 1.21s	remaining: 805ms
700:	learn: 0.5894824	total: 1.41s	remaining: 602ms
800:	learn: 0.5785038	total: 1.62s	remaining: 403ms
900:	learn: 0.5684284	total: 1.83s	remaining: 201ms
999:	learn: 0.5586858	total: 2.05s	remaining: 0us

In [39]:
y_pred_1 = cb_model_1.predict(X_test_1)

In [40]:
f1_score(y_test_1, y_pred_1)

0.47228915662650606

In [41]:
roc_auc_score(y_test_1, y_pred_1)

0.6004728739945003

In [42]:
t = df.groupby('client_id')['code'].value_counts()
t.name = 'code_count'
t = t.reset_index()
t = t.groupby('client_id').head(3)
t = t.groupby('client_id')['code'].apply(list).apply(math.prod).reset_index().rename(columns={'code':'mult_code_top3'})
ml_df = ml_df.merge(t)
ml_df

,client_id,transactions_count,code_mode,type_mode,sum,sum_type,sum_code,mult_code_top3
0,22899,9,6011,4010,50847.54,6050,16835,173911093540
1,27914,4,4814,1030,74115.21,15060,16835,173911093540
2,28753,13,4814,1010,-2589800.29,3150,15457,135156930084
3,31385,13,4814,1030,-83525.38,3150,16236,156577858094
4,38084,26,6011,1010,693495.66,9230,16251,157065740909
...,...,...,...,...,...,...,...,...
8651,99967537,1,6011,2010,-336887.37,2010,6011,6011
8652,99984336,4,6011,7010,78607.06,9020,6011,6011
8653,99985917,1,6011,2010,-224591.58,2010,6011,6011
8654,99991245,4,6011,7010,569609.16,10350,16339,159620127381
8655,99999680,15,4814,1030,-651595.19,3150,16366,160339662114

In [43]:
t = df.groupby('client_id')['type'].value_counts()
t.name = 'type_count'
t = t.reset_index()
t = t.groupby('client_id').head(3)
t = t.groupby('client_id')['type'].apply(list).apply(math.prod).reset_index().rename(columns={'type':'mult_type_top3'})
ml_df = ml_df.merge(t)
ml_df

,client_id,transactions_count,code_mode,type_mode,sum,sum_type,sum_code,mult_code_top3,mult_type_top3
0,22899,9,6011,4010,50847.54,6050,16835,173911093540,4171603000
1,27914,4,4814,1030,74115.21,15060,16835,173911093540,50686506000
2,28753,13,4814,1010,-2589800.29,3150,15457,135156930084,1154733000
3,31385,13,4814,1030,-83525.38,3150,16236,156577858094,1154733000
4,38084,26,6011,1010,693495.66,9230,16251,157065740909,8566921000
...,...,...,...,...,...,...,...,...,...
8651,99967537,1,6011,2010,-336887.37,2010,6011,6011,2010
8652,99984336,4,6011,7010,78607.06,9020,6011,6011,14090100
8653,99985917,1,6011,2010,-224591.58,2010,6011,6011,2010
8654,99991245,4,6011,7010,569609.16,10350,16339,159620127381,16496633000
8655,99999680,15,4814,1030,-651595.19,3150,16366,160339662114,1154733000

In [44]:
train_df_2 = train_set.merge(ml_df)
X_2 = train_df_2.drop(columns=['client_id', 'target'])
y_2 = train_df_2.target
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X_2, y_2, test_size=.2, random_state=42)
cb_model_2 = CatBoostClassifier(verbose=100)
cb_model_2.fit(X_train_2, y_train_2)
y_pred_2 = cb_model_2.predict(X_test_2)
print('----------------------')
print('Accuracy score: %.2f\n'
      'Precision score: %.2f\n'
      'Recall score: %.2f\n'
      'f1 score: %.2f\n'
      'Roc_auc score: %.2f' % (accuracy_score(y_test_2, y_pred_2), precision_score(y_test_2, y_pred_2),
                               recall_score(y_test_2, y_pred_2), f1_score(y_test_2, y_pred_2),
                               roc_auc_score(y_test_2, y_pred_2)))

Learning rate set to 0.020129
0:	learn: 0.6922737	total: 2.54ms	remaining: 2.54s
100:	learn: 0.6567627	total: 194ms	remaining: 1.73s
200:	learn: 0.6424986	total: 406ms	remaining: 1.61s
300:	learn: 0.6315262	total: 606ms	remaining: 1.41s
400:	learn: 0.6212189	total: 838ms	remaining: 1.25s
500:	learn: 0.6100899	total: 1.07s	remaining: 1.07s
600:	learn: 0.5974037	total: 1.31s	remaining: 873ms
700:	learn: 0.5852065	total: 1.54s	remaining: 656ms
800:	learn: 0.5743341	total: 1.76s	remaining: 439ms
900:	learn: 0.5650250	total: 1.99s	remaining: 219ms
999:	learn: 0.5557663	total: 2.23s	remaining: 0us
----------------------
Accuracy score: 0.63
Precision score: 0.59
Recall score: 0.41
f1 score: 0.48
Roc_auc score: 0.60

In [45]:
grid = {'learning_rate': [0.03, 0.1],
        'depth': [4, 6, 8, 10],
        'l2_leaf_reg': [1, 3, 5, 7, 9]}
cb_model_grid = CatBoostClassifier(verbose=100)
grid_search_resul = cb_model_grid.grid_search(grid, 
                       X=X_train_2,
                       y=y_train_2)

0:	learn: 0.6922180	test: 0.6923653	best: 0.6923653 (0)	total: 9.5ms	remaining: 9.49s
100:	learn: 0.6598159	test: 0.6690648	best: 0.6690648 (100)	total: 201ms	remaining: 1.79s
200:	learn: 0.6469573	test: 0.6666579	best: 0.6664964 (194)	total: 427ms	remaining: 1.7s
300:	learn: 0.6369821	test: 0.6669996	best: 0.6661829 (268)	total: 655ms	remaining: 1.52s
400:	learn: 0.6242559	test: 0.6689674	best: 0.6661829 (268)	total: 927ms	remaining: 1.39s
500:	learn: 0.6121394	test: 0.6689367	best: 0.6661829 (268)	total: 1.18s	remaining: 1.17s
600:	learn: 0.6021586	test: 0.6713164	best: 0.6661829 (268)	total: 1.42s	remaining: 944ms
700:	learn: 0.5931976	test: 0.6727566	best: 0.6661829 (268)	total: 1.63s	remaining: 695ms
800:	learn: 0.5837134	test: 0.6750998	best: 0.6661829 (268)	total: 1.87s	remaining: 464ms
900:	learn: 0.5760500	test: 0.6759654	best: 0.6661829 (268)	total: 2.06s	remaining: 227ms
999:	learn: 0.5684853	test: 0.6763737	best: 0.6661829 (268)	total: 2.29s	remaining: 0us

bestTest = 0.6661829002
bestIteration = 268

0:	loss: 0.6661829	best: 0.6661829 (0)	total: 2.34s	remaining: 1m 31s
0:	learn: 0.6901691	test: 0.6906473	best: 0.6906473 (0)	total: 1.56ms	remaining: 1.56s
100:	learn: 0.6334309	test: 0.6691142	best: 0.6663755 (73)	total: 210ms	remaining: 1.87s
200:	learn: 0.5958752	test: 0.6741242	best: 0.6663755 (73)	total: 442ms	remaining: 1.76s
300:	learn: 0.5678028	test: 0.6770910	best: 0.6663755 (73)	total: 693ms	remaining: 1.61s
400:	learn: 0.5430040	test: 0.6852077	best: 0.6663755 (73)	total: 955ms	remaining: 1.43s
500:	learn: 0.5221848	test: 0.6949037	best: 0.6663755 (73)	total: 1.2s	remaining: 1.2s
600:	learn: 0.5052914	test: 0.7027356	best: 0.6663755 (73)	total: 1.41s	remaining: 939ms
700:	learn: 0.4872954	test: 0.7120086	best: 0.6663755 (73)	total: 1.61s	remaining: 686ms
800:	learn: 0.4720248	test: 0.7172311	best: 0.6663755 (73)	total: 1.9s	remaining: 473ms
900:	learn: 0.4575156	test: 0.7205613	best: 0.6663755 (73)	total: 2.15s	remaining: 236ms
999:	learn: 0.4441244	test: 0.7291779	best: 0.6663755 (73)	total: 2.33s	remaining: 0us

bestTest = 0.6663755417
bestIteration = 73

1:	loss: 0.6663755	best: 0.6661829 (0)	total: 4.71s	remaining: 1m 29s
0:	learn: 0.6922337	test: 0.6923653	best: 0.6923653 (0)	total: 2.75ms	remaining: 2.75s
100:	learn: 0.6599470	test: 0.6708641	best: 0.6708641 (100)	total: 286ms	remaining: 2.54s
200:	learn: 0.6489459	test: 0.6690358	best: 0.6686651 (175)	total: 558ms	remaining: 2.22s
300:	learn: 0.6390493	test: 0.6689922	best: 0.6686651 (175)	total: 738ms	remaining: 1.71s
400:	learn: 0.6278504	test: 0.6697608	best: 0.6686651 (175)	total: 950ms	remaining: 1.42s
500:	learn: 0.6170146	test: 0.6707150	best: 0.6686651 (175)	total: 1.13s	remaining: 1.13s
600:	learn: 0.6073710	test: 0.6711613	best: 0.6686651 (175)	total: 1.33s	remaining: 885ms
700:	learn: 0.5985198	test: 0.6726846	best: 0.6686651 (175)	total: 1.58s	remaining: 676ms
800:	learn: 0.5898177	test: 0.6748435	best: 0.6686651 (175)	total: 1.78s	remaining: 443ms
900:	learn: 0.5816834	test: 0.6762681	best: 0.6686651 (175)	total: 2.02s	remaining: 222ms
999:	learn: 0.5736237	test: 0.6772015	best: 0.6686651 (175)	total: 2.25s	remaining: 0us

bestTest = 0.6686651482
bestIteration = 175

2:	loss: 0.6686651	best: 0.6661829 (0)	total: 6.99s	remaining: 1m 26s
0:	learn: 0.6902171	test: 0.6906473	best: 0.6906473 (0)	total: 1.87ms	remaining: 1.87s
100:	learn: 0.6349337	test: 0.6697063	best: 0.6684510 (57)	total: 209ms	remaining: 1.86s
200:	learn: 0.5991408	test: 0.6749232	best: 0.6684510 (57)	total: 419ms	remaining: 1.67s
300:	learn: 0.5722427	test: 0.6851992	best: 0.6684510 (57)	total: 620ms	remaining: 1.44s
400:	learn: 0.5478687	test: 0.6921408	best: 0.6684510 (57)	total: 848ms	remaining: 1.27s
500:	learn: 0.5289137	test: 0.6990895	best: 0.6684510 (57)	total: 1.06s	remaining: 1.06s
600:	learn: 0.5146513	test: 0.7031111	best: 0.6684510 (57)	total: 1.25s	remaining: 828ms
700:	learn: 0.4980135	test: 0.7101412	best: 0.6684510 (57)	total: 1.45s	remaining: 616ms
800:	learn: 0.4859782	test: 0.7163958	best: 0.6684510 (57)	total: 1.66s	remaining: 412ms
900:	learn: 0.4741484	test: 0.7230586	best: 0.6684510 (57)	total: 1.91s	remaining: 210ms
999:	learn: 0.4621425	test: 0.7282691	best: 0.6684510 (57)	total: 2.1s	remaining: 0us

bestTest = 0.6684509605
bestIteration = 57

3:	loss: 0.6684510	best: 0.6661829 (0)	total: 9.13s	remaining: 1m 22s
0:	learn: 0.6922404	test: 0.6923653	best: 0.6923653 (0)	total: 18.1ms	remaining: 18.1s
100:	learn: 0.6610530	test: 0.6705404	best: 0.6705404 (100)	total: 234ms	remaining: 2.08s
200:	learn: 0.6498072	test: 0.6672006	best: 0.6671777 (191)	total: 405ms	remaining: 1.61s
300:	learn: 0.6402770	test: 0.6676072	best: 0.6669797 (221)	total: 614ms	remaining: 1.42s
400:	learn: 0.6283535	test: 0.6687627	best: 0.6669797 (221)	total: 786ms	remaining: 1.17s
500:	learn: 0.6182582	test: 0.6696146	best: 0.6669797 (221)	total: 955ms	remaining: 951ms
600:	learn: 0.6084255	test: 0.6707045	best: 0.6669797 (221)	total: 1.13s	remaining: 748ms
700:	learn: 0.6008329	test: 0.6731438	best: 0.6669797 (221)	total: 1.34s	remaining: 571ms
800:	learn: 0.5931787	test: 0.6743753	best: 0.6669797 (221)	total: 1.54s	remaining: 384ms
900:	learn: 0.5855562	test: 0.6759322	best: 0.6669797 (221)	total: 1.74s	remaining: 191ms
999:	learn: 0.5782995	test: 0.6778093	best: 0.6669797 (221)	total: 1.93s	remaining: 0us

bestTest = 0.6669797158
bestIteration = 221

4:	loss: 0.6669797	best: 0.6661829 (0)	total: 11.1s	remaining: 1m 17s
0:	learn: 0.6902384	test: 0.6906472	best: 0.6906472 (0)	total: 1.42ms	remaining: 1.42s
100:	learn: 0.6379934	test: 0.6691155	best: 0.6672696 (68)	total: 216ms	remaining: 1.92s
200:	learn: 0.6041445	test: 0.6755354	best: 0.6672696 (68)	total: 428ms	remaining: 1.7s
300:	learn: 0.5782178	test: 0.6847586	best: 0.6672696 (68)	total: 621ms	remaining: 1.44s
400:	learn: 0.5565957	test: 0.6868858	best: 0.6672696 (68)	total: 815ms	remaining: 1.22s
500:	learn: 0.5391366	test: 0.6915795	best: 0.6672696 (68)	total: 986ms	remaining: 982ms
600:	learn: 0.5222804	test: 0.6948662	best: 0.6672696 (68)	total: 1.16s	remaining: 772ms
700:	learn: 0.5063362	test: 0.7018007	best: 0.6672696 (68)	total: 1.34s	remaining: 570ms
800:	learn: 0.4929892	test: 0.7074279	best: 0.6672696 (68)	total: 1.52s	remaining: 377ms
900:	learn: 0.4793920	test: 0.7118998	best: 0.6672696 (68)	total: 1.69s	remaining: 186ms
999:	learn: 0.4681686	test: 0.7162998	best: 0.6672696 (68)	total: 1.87s	remaining: 0us

bestTest = 0.6672695821
bestIteration = 68

5:	loss: 0.6672696	best: 0.6661829 (0)	total: 13s	remaining: 1m 13s
0:	learn: 0.6922446	test: 0.6923652	best: 0.6923652 (0)	total: 1.37ms	remaining: 1.37s
100:	learn: 0.6614073	test: 0.6709315	best: 0.6709315 (100)	total: 168ms	remaining: 1.5s
200:	learn: 0.6509640	test: 0.6683994	best: 0.6682683 (180)	total: 331ms	remaining: 1.31s
300:	learn: 0.6423455	test: 0.6676781	best: 0.6676781 (300)	total: 529ms	remaining: 1.23s
400:	learn: 0.6307089	test: 0.6666914	best: 0.6666914 (400)	total: 731ms	remaining: 1.09s
500:	learn: 0.6210248	test: 0.6675542	best: 0.6665716 (406)	total: 942ms	remaining: 938ms
600:	learn: 0.6120731	test: 0.6689543	best: 0.6665716 (406)	total: 1.12s	remaining: 744ms
700:	learn: 0.6041843	test: 0.6702712	best: 0.6665716 (406)	total: 1.33s	remaining: 569ms
800:	learn: 0.5958758	test: 0.6721329	best: 0.6665716 (406)	total: 1.58s	remaining: 392ms
900:	learn: 0.5882439	test: 0.6723877	best: 0.6665716 (406)	total: 1.8s	remaining: 197ms
999:	learn: 0.5811033	test: 0.6732445	best: 0.6665716 (406)	total: 2.03s	remaining: 0us

bestTest = 0.6665715824
bestIteration = 406

6:	loss: 0.6665716	best: 0.6661829 (0)	total: 15.1s	remaining: 1m 10s
0:	learn: 0.6902516	test: 0.6906471	best: 0.6906471 (0)	total: 1.54ms	remaining: 1.54s
100:	learn: 0.6390222	test: 0.6689569	best: 0.6676079 (70)	total: 189ms	remaining: 1.68s
200:	learn: 0.6069959	test: 0.6714583	best: 0.6676079 (70)	total: 401ms	remaining: 1.59s
300:	learn: 0.5819522	test: 0.6765806	best: 0.6676079 (70)	total: 639ms	remaining: 1.48s
400:	learn: 0.5607118	test: 0.6830541	best: 0.6676079 (70)	total: 893ms	remaining: 1.33s
500:	learn: 0.5418493	test: 0.6847345	best: 0.6676079 (70)	total: 1.11s	remaining: 1.11s

600:	learn: 0.5260521	test: 0.6901023	best: 0.6676079 (70)	total: 1.42s	remaining: 946ms
700:	learn: 0.5123503	test: 0.6932021	best: 0.6676079 (70)	total: 1.64s	remaining: 700ms
800:	learn: 0.4994416	test: 0.6977259	best: 0.6676079 (70)	total: 1.84s	remaining: 458ms
900:	learn: 0.4873773	test: 0.7023732	best: 0.6676079 (70)	total: 2.1s	remaining: 231ms
999:	learn: 0.4764435	test: 0.7081178	best: 0.6676079 (70)	total: 2.38s	remaining: 0us

bestTest = 0.6676079294
bestIteration = 70

7:	loss: 0.6676079	best: 0.6661829 (0)	total: 17.5s	remaining: 1m 9s
0:	learn: 0.6922474	test: 0.6923651	best: 0.6923651 (0)	total: 3.21ms	remaining: 3.2s
100:	learn: 0.6611006	test: 0.6708471	best: 0.6708471 (100)	total: 238ms	remaining: 2.12s
200:	learn: 0.6507961	test: 0.6687507	best: 0.6687342 (199)	total: 459ms	remaining: 1.82s
300:	learn: 0.6417115	test: 0.6673307	best: 0.6669533 (274)	total: 742ms	remaining: 1.72s
400:	learn: 0.6320695	test: 0.6676762	best: 0.6669533 (274)	total: 1.01s	remaining: 1.51s
500:	learn: 0.6210122	test: 0.6670713	best: 0.6664805 (462)	total: 1.23s	remaining: 1.22s
600:	learn: 0.6119146	test: 0.6686491	best: 0.6664805 (462)	total: 1.42s	remaining: 944ms
700:	learn: 0.6034793	test: 0.6701529	best: 0.6664805 (462)	total: 1.63s	remaining: 697ms
800:	learn: 0.5958712	test: 0.6719318	best: 0.6664805 (462)	total: 1.83s	remaining: 454ms
900:	learn: 0.5889207	test: 0.6743922	best: 0.6664805 (462)	total: 2.03s	remaining: 223ms
999:	learn: 0.5823574	test: 0.6758416	best: 0.6664805 (462)	total: 2.23s	remaining: 0us

bestTest = 0.6664805355
bestIteration = 462

8:	loss: 0.6664805	best: 0.6661829 (0)	total: 19.7s	remaining: 1m 7s
0:	learn: 0.6902610	test: 0.6906467	best: 0.6906467 (0)	total: 1.73ms	remaining: 1.73s
100:	learn: 0.6398442	test: 0.6685806	best: 0.6684660 (96)	total: 193ms	remaining: 1.71s
200:	learn: 0.6057028	test: 0.6699979	best: 0.6683338 (102)	total: 388ms	remaining: 1.54s
300:	learn: 0.5790582	test: 0.6765110	best: 0.6683338 (102)	total: 571ms	remaining: 1.32s
400:	learn: 0.5591117	test: 0.6810528	best: 0.6683338 (102)	total: 763ms	remaining: 1.14s
500:	learn: 0.5411849	test: 0.6852696	best: 0.6683338 (102)	total: 974ms	remaining: 970ms
600:	learn: 0.5259343	test: 0.6929545	best: 0.6683338 (102)	total: 1.17s	remaining: 778ms
700:	learn: 0.5121738	test: 0.6947873	best: 0.6683338 (102)	total: 1.38s	remaining: 587ms
800:	learn: 0.4993081	test: 0.7001173	best: 0.6683338 (102)	total: 1.56s	remaining: 387ms
900:	learn: 0.4875876	test: 0.7036167	best: 0.6683338 (102)	total: 1.79s	remaining: 197ms
999:	learn: 0.4775739	test: 0.7058342	best: 0.6683338 (102)	total: 2s	remaining: 0us

bestTest = 0.668333755
bestIteration = 102

9:	loss: 0.6683338	best: 0.6661829 (0)	total: 21.8s	remaining: 1m 5s
0:	learn: 0.6920059	test: 0.6923721	best: 0.6923721 (0)	total: 2.15ms	remaining: 2.14s
100:	learn: 0.6419027	test: 0.6700723	best: 0.6700723 (100)	total: 307ms	remaining: 2.73s
200:	learn: 0.6212311	test: 0.6701982	best: 0.6695246 (114)	total: 589ms	remaining: 2.34s
300:	learn: 0.6018734	test: 0.6714784	best: 0.6694254 (218)	total: 912ms	remaining: 2.12s
400:	learn: 0.5766207	test: 0.6747949	best: 0.6694254 (218)	total: 1.2s	remaining: 1.79s
500:	learn: 0.5553340	test: 0.6763019	best: 0.6694254 (218)	total: 1.45s	remaining: 1.44s
600:	learn: 0.5356162	test: 0.6780365	best: 0.6694254 (218)	total: 1.76s	remaining: 1.17s
700:	learn: 0.5174835	test: 0.6808361	best: 0.6694254 (218)	total: 2.08s	remaining: 886ms
800:	learn: 0.5008220	test: 0.6869476	best: 0.6694254 (218)	total: 2.32s	remaining: 576ms
900:	learn: 0.4866200	test: 0.6898757	best: 0.6694254 (218)	total: 2.56s	remaining: 282ms
999:	learn: 0.4725581	test: 0.6936304	best: 0.6694254 (218)	total: 2.8s	remaining: 0us

bestTest = 0.6694254249
bestIteration = 218

10:	loss: 0.6694254	best: 0.6661829 (0)	total: 24.6s	remaining: 1m 4s
0:	learn: 0.6894843	test: 0.6906870	best: 0.6906870 (0)	total: 1.88ms	remaining: 1.88s
100:	learn: 0.5936501	test: 0.6821646	best: 0.6741670 (41)	total: 238ms	remaining: 2.11s
200:	learn: 0.5265816	test: 0.6845255	best: 0.6741670 (41)	total: 480ms	remaining: 1.91s
300:	learn: 0.4759892	test: 0.7003278	best: 0.6741670 (41)	total: 720ms	remaining: 1.67s
400:	learn: 0.4313234	test: 0.7154894	best: 0.6741670 (41)	total: 958ms	remaining: 1.43s
500:	learn: 0.3954806	test: 0.7367866	best: 0.6741670 (41)	total: 1.2s	remaining: 1.2s
600:	learn: 0.3633881	test: 0.7481086	best: 0.6741670 (41)	total: 1.44s	remaining: 956ms
700:	learn: 0.3355716	test: 0.7627615	best: 0.6741670 (41)	total: 1.68s	remaining: 717ms
800:	learn: 0.3111249	test: 0.7775925	best: 0.6741670 (41)	total: 1.98s	remaining: 493ms
900:	learn: 0.2903503	test: 0.7929054	best: 0.6741670 (41)	total: 2.27s	remaining: 250ms
999:	learn: 0.2709672	test: 0.8085582	best: 0.6741670 (41)	total: 2.51s	remaining: 0us

bestTest = 0.6741670303
bestIteration = 41

11:	loss: 0.6741670	best: 0.6661829 (0)	total: 27.2s	remaining: 1m 3s
0:	learn: 0.6920292	test: 0.6923568	best: 0.6923568 (0)	total: 1.99ms	remaining: 1.99s
100:	learn: 0.6456643	test: 0.6720476	best: 0.6719245 (98)	total: 246ms	remaining: 2.19s
200:	learn: 0.6260475	test: 0.6723312	best: 0.6717938 (105)	total: 494ms	remaining: 1.96s
300:	learn: 0.6091461	test: 0.6741663	best: 0.6717938 (105)	total: 727ms	remaining: 1.69s
400:	learn: 0.5884860	test: 0.6746220	best: 0.6717938 (105)	total: 988ms	remaining: 1.48s
500:	learn: 0.5694728	test: 0.6760061	best: 0.6717938 (105)	total: 1.22s	remaining: 1.22s
600:	learn: 0.5526407	test: 0.6782276	best: 0.6717938 (105)	total: 1.47s	remaining: 974ms
700:	learn: 0.5369732	test: 0.6824590	best: 0.6717938 (105)	total: 1.7s	remaining: 726ms
800:	learn: 0.5219238	test: 0.6849381	best: 0.6717938 (105)	total: 1.96s	remaining: 487ms
900:	learn: 0.5071006	test: 0.6881634	best: 0.6717938 (105)	total: 2.2s	remaining: 242ms
999:	learn: 0.4938326	test: 0.6913135	best: 0.6717938 (105)	total: 2.44s	remaining: 0us

bestTest = 0.6717937962
bestIteration = 105

12:	loss: 0.6717938	best: 0.6661829 (0)	total: 29.7s	remaining: 1m 1s
0:	learn: 0.6895561	test: 0.6906331	best: 0.6906331 (0)	total: 1.95ms	remaining: 1.95s
100:	learn: 0.6024654	test: 0.6757222	best: 0.6723456 (36)	total: 242ms	remaining: 2.16s
200:	learn: 0.5441241	test: 0.6860536	best: 0.6723456 (36)	total: 478ms	remaining: 1.9s
300:	learn: 0.4973121	test: 0.6966154	best: 0.6723456 (36)	total: 741ms	remaining: 1.72s
400:	learn: 0.4601886	test: 0.7079468	best: 0.6723456 (36)	total: 1.03s	remaining: 1.54s
500:	learn: 0.4278798	test: 0.7168572	best: 0.6723456 (36)	total: 1.33s	remaining: 1.33s
600:	learn: 0.4000148	test: 0.7271575	best: 0.6723456 (36)	total: 1.61s	remaining: 1.07s
700:	learn: 0.3735207	test: 0.7347213	best: 0.6723456 (36)	total: 1.9s	remaining: 809ms
800:	learn: 0.3519211	test: 0.7450445	best: 0.6723456 (36)	total: 2.19s	remaining: 543ms
900:	learn: 0.3312977	test: 0.7544001	best: 0.6723456 (36)	total: 2.45s	remaining: 270ms
999:	learn: 0.3106665	test: 0.7646646	best: 0.6723456 (36)	total: 2.73s	remaining: 0us

bestTest = 0.6723456316
bestIteration = 36

13:	loss: 0.6723456	best: 0.6661829 (0)	total: 32.4s	remaining: 1m
0:	learn: 0.6920399	test: 0.6923523	best: 0.6923523 (0)	total: 2.33ms	remaining: 2.32s
100:	learn: 0.6468075	test: 0.6713542	best: 0.6711778 (93)	total: 303ms	remaining: 2.7s
200:	learn: 0.6281345	test: 0.6704381	best: 0.6703167 (193)	total: 596ms	remaining: 2.37s
300:	learn: 0.6120852	test: 0.6702943	best: 0.6700765 (288)	total: 894ms	remaining: 2.08s
400:	learn: 0.5915998	test: 0.6708496	best: 0.6700149 (306)	total: 1.19s	remaining: 1.78s
500:	learn: 0.5724046	test: 0.6731023	best: 0.6700149 (306)	total: 1.54s	remaining: 1.53s
600:	learn: 0.5563763	test: 0.6757576	best: 0.6700149 (306)	total: 1.82s	remaining: 1.21s
700:	learn: 0.5417039	test: 0.6786896	best: 0.6700149 (306)	total: 2.1s	remaining: 894ms
800:	learn: 0.5278027	test: 0.6816224	best: 0.6700149 (306)	total: 2.39s	remaining: 593ms
900:	learn: 0.5148419	test: 0.6845588	best: 0.6700149 (306)	total: 2.67s	remaining: 293ms
999:	learn: 0.5029743	test: 0.6867717	best: 0.6700149 (306)	total: 2.94s	remaining: 0us

bestTest = 0.6700148903
bestIteration = 306

14:	loss: 0.6700149	best: 0.6661829 (0)	total: 35.4s	remaining: 59s
0:	learn: 0.6895893	test: 0.6906172	best: 0.6906172 (0)	total: 2.32ms	remaining: 2.32s

100:	learn: 0.6068079	test: 0.6706991	best: 0.6678747 (51)	total: 263ms	remaining: 2.34s
200:	learn: 0.5471689	test: 0.6743415	best: 0.6678747 (51)	total: 536ms	remaining: 2.13s
300:	learn: 0.5064422	test: 0.6835615	best: 0.6678747 (51)	total: 818ms	remaining: 1.9s
400:	learn: 0.4714028	test: 0.6939684	best: 0.6678747 (51)	total: 1.11s	remaining: 1.66s
500:	learn: 0.4420912	test: 0.7055246	best: 0.6678747 (51)	total: 1.4s	remaining: 1.4s
600:	learn: 0.4163531	test: 0.7154314	best: 0.6678747 (51)	total: 1.69s	remaining: 1.12s
700:	learn: 0.3914173	test: 0.7234980	best: 0.6678747 (51)	total: 1.97s	remaining: 842ms
800:	learn: 0.3701191	test: 0.7345103	best: 0.6678747 (51)	total: 2.29s	remaining: 568ms
900:	learn: 0.3523512	test: 0.7423485	best: 0.6678747 (51)	total: 2.58s	remaining: 284ms
999:	learn: 0.3357787	test: 0.7531639	best: 0.6678747 (51)	total: 2.85s	remaining: 0us

bestTest = 0.6678747094
bestIteration = 51

15:	loss: 0.6678747	best: 0.6661829 (0)	total: 38.3s	remaining: 57.4s
0:	learn: 0.6920478	test: 0.6923513	best: 0.6923513 (0)	total: 1.99ms	remaining: 1.98s
100:	learn: 0.6485046	test: 0.6702958	best: 0.6702713 (97)	total: 244ms	remaining: 2.17s
200:	learn: 0.6301508	test: 0.6696135	best: 0.6689525 (148)	total: 489ms	remaining: 1.94s
300:	learn: 0.6145851	test: 0.6703631	best: 0.6689525 (148)	total: 728ms	remaining: 1.69s
400:	learn: 0.5958001	test: 0.6718467	best: 0.6689525 (148)	total: 971ms	remaining: 1.45s
500:	learn: 0.5792728	test: 0.6735643	best: 0.6689525 (148)	total: 1.22s	remaining: 1.21s
600:	learn: 0.5634494	test: 0.6755852	best: 0.6689525 (148)	total: 1.47s	remaining: 974ms
700:	learn: 0.5496503	test: 0.6785389	best: 0.6689525 (148)	total: 1.71s	remaining: 729ms
800:	learn: 0.5361174	test: 0.6808311	best: 0.6689525 (148)	total: 1.95s	remaining: 485ms
900:	learn: 0.5231314	test: 0.6829762	best: 0.6689525 (148)	total: 2.29s	remaining: 252ms
999:	learn: 0.5117181	test: 0.6844887	best: 0.6689525 (148)	total: 2.56s	remaining: 0us

bestTest = 0.6689525355
bestIteration = 148

16:	loss: 0.6689525	best: 0.6661829 (0)	total: 40.9s	remaining: 55.3s
0:	learn: 0.6896140	test: 0.6906132	best: 0.6906132 (0)	total: 1.89ms	remaining: 1.89s
100:	learn: 0.6095400	test: 0.6732618	best: 0.6704674 (46)	total: 238ms	remaining: 2.12s
200:	learn: 0.5570950	test: 0.6793344	best: 0.6704674 (46)	total: 475ms	remaining: 1.89s
300:	learn: 0.5137799	test: 0.6882862	best: 0.6704674 (46)	total: 720ms	remaining: 1.67s
400:	learn: 0.4780070	test: 0.6983058	best: 0.6704674 (46)	total: 968ms	remaining: 1.45s
500:	learn: 0.4459110	test: 0.7052164	best: 0.6704674 (46)	total: 1.28s	remaining: 1.27s
600:	learn: 0.4223996	test: 0.7124078	best: 0.6704674 (46)	total: 1.62s	remaining: 1.07s
700:	learn: 0.3999489	test: 0.7218000	best: 0.6704674 (46)	total: 1.91s	remaining: 816ms
800:	learn: 0.3801568	test: 0.7302841	best: 0.6704674 (46)	total: 2.15s	remaining: 535ms
900:	learn: 0.3627616	test: 0.7391156	best: 0.6704674 (46)	total: 2.39s	remaining: 263ms
999:	learn: 0.3454103	test: 0.7492017	best: 0.6704674 (46)	total: 2.67s	remaining: 0us

bestTest = 0.6704674024
bestIteration = 46

17:	loss: 0.6704674	best: 0.6661829 (0)	total: 43.6s	remaining: 53.3s
0:	learn: 0.6920544	test: 0.6923520	best: 0.6923520 (0)	total: 2.01ms	remaining: 2.01s
100:	learn: 0.6486952	test: 0.6713970	best: 0.6712345 (93)	total: 240ms	remaining: 2.13s
200:	learn: 0.6305242	test: 0.6697909	best: 0.6695217 (197)	total: 508ms	remaining: 2.02s
300:	learn: 0.6159430	test: 0.6696652	best: 0.6695217 (197)	total: 817ms	remaining: 1.9s
400:	learn: 0.5989519	test: 0.6715311	best: 0.6695217 (197)	total: 1.07s	remaining: 1.59s
500:	learn: 0.5816968	test: 0.6730236	best: 0.6695217 (197)	total: 1.44s	remaining: 1.43s
600:	learn: 0.5674143	test: 0.6758262	best: 0.6695217 (197)	total: 1.92s	remaining: 1.27s
700:	learn: 0.5533281	test: 0.6774194	best: 0.6695217 (197)	total: 2.22s	remaining: 949ms
800:	learn: 0.5405454	test: 0.6800649	best: 0.6695217 (197)	total: 2.45s	remaining: 609ms
900:	learn: 0.5292567	test: 0.6815119	best: 0.6695217 (197)	total: 2.69s	remaining: 296ms
999:	learn: 0.5181863	test: 0.6834385	best: 0.6695217 (197)	total: 3.03s	remaining: 0us

bestTest = 0.6695216982
bestIteration = 197

18:	loss: 0.6695217	best: 0.6661829 (0)	total: 46.7s	remaining: 51.6s
0:	learn: 0.6896352	test: 0.6906151	best: 0.6906151 (0)	total: 5.88ms	remaining: 5.88s
100:	learn: 0.6116000	test: 0.6747403	best: 0.6718574 (38)	total: 430ms	remaining: 3.83s
200:	learn: 0.5589854	test: 0.6804045	best: 0.6718574 (38)	total: 855ms	remaining: 3.4s
300:	learn: 0.5201440	test: 0.6864290	best: 0.6718574 (38)	total: 1.15s	remaining: 2.66s
400:	learn: 0.4858854	test: 0.6976983	best: 0.6718574 (38)	total: 1.45s	remaining: 2.16s
500:	learn: 0.4564932	test: 0.7079763	best: 0.6718574 (38)	total: 1.82s	remaining: 1.82s
600:	learn: 0.4334598	test: 0.7164827	best: 0.6718574 (38)	total: 2.27s	remaining: 1.5s
700:	learn: 0.4114391	test: 0.7211737	best: 0.6718574 (38)	total: 2.67s	remaining: 1.14s
800:	learn: 0.3908288	test: 0.7308813	best: 0.6718574 (38)	total: 3.1s	remaining: 770ms
900:	learn: 0.3728785	test: 0.7382075	best: 0.6718574 (38)	total: 3.41s	remaining: 375ms
999:	learn: 0.3567414	test: 0.7475326	best: 0.6718574 (38)	total: 3.71s	remaining: 0us

bestTest = 0.6718573516
bestIteration = 38

19:	loss: 0.6718574	best: 0.6661829 (0)	total: 50.4s	remaining: 50.4s
0:	learn: 0.6912285	test: 0.6924434	best: 0.6924434 (0)	total: 4.12ms	remaining: 4.11s
100:	learn: 0.6156806	test: 0.6725226	best: 0.6715293 (83)	total: 529ms	remaining: 4.71s
200:	learn: 0.5760773	test: 0.6771495	best: 0.6715293 (83)	total: 1.05s	remaining: 4.17s
300:	learn: 0.5444329	test: 0.6820976	best: 0.6715293 (83)	total: 1.6s	remaining: 3.72s
400:	learn: 0.5068650	test: 0.6877205	best: 0.6715293 (83)	total: 2.1s	remaining: 3.14s
500:	learn: 0.4736488	test: 0.6922565	best: 0.6715293 (83)	total: 2.67s	remaining: 2.66s
600:	learn: 0.4432997	test: 0.6988471	best: 0.6715293 (83)	total: 3.18s	remaining: 2.11s
700:	learn: 0.4167758	test: 0.7032484	best: 0.6715293 (83)	total: 3.71s	remaining: 1.58s
800:	learn: 0.3930077	test: 0.7104919	best: 0.6715293 (83)	total: 4.37s	remaining: 1.08s
900:	learn: 0.3703462	test: 0.7151687	best: 0.6715293 (83)	total: 4.93s	remaining: 542ms
999:	learn: 0.3495582	test: 0.7222996	best: 0.6715293 (83)	total: 5.51s	remaining: 0us

bestTest = 0.6715292665
bestIteration = 83

20:	loss: 0.6715293	best: 0.6661829 (0)	total: 56s	remaining: 50.7s
0:	learn: 0.6870111	test: 0.6911036	best: 0.6911036 (0)	total: 4.91ms	remaining: 4.9s
100:	learn: 0.5374657	test: 0.6898592	best: 0.6754355 (30)	total: 548ms	remaining: 4.88s
200:	learn: 0.4251284	test: 0.7170393	best: 0.6754355 (30)	total: 1.16s	remaining: 4.61s
300:	learn: 0.3488119	test: 0.7388752	best: 0.6754355 (30)	total: 1.76s	remaining: 4.09s
400:	learn: 0.2949123	test: 0.7654163	best: 0.6754355 (30)	total: 2.32s	remaining: 3.46s
500:	learn: 0.2535592	test: 0.7898466	best: 0.6754355 (30)	total: 2.76s	remaining: 2.75s
600:	learn: 0.2173724	test: 0.8097828	best: 0.6754355 (30)	total: 3.23s	remaining: 2.14s
700:	learn: 0.1887152	test: 0.8308644	best: 0.6754355 (30)	total: 3.82s	remaining: 1.63s
800:	learn: 0.1643605	test: 0.8535537	best: 0.6754355 (30)	total: 4.43s	remaining: 1.1s
900:	learn: 0.1453412	test: 0.8675666	best: 0.6754355 (30)	total: 4.92s	remaining: 540ms
999:	learn: 0.1295507	test: 0.8915224	best: 0.6754355 (30)	total: 5.35s	remaining: 0us

bestTest = 0.6754355409
bestIteration = 30

21:	loss: 0.6754355	best: 0.6661829 (0)	total: 1m 1s	remaining: 50.2s
0:	learn: 0.6913653	test: 0.6923812	best: 0.6923812 (0)	total: 4.54ms	remaining: 4.54s
100:	learn: 0.6228128	test: 0.6713384	best: 0.6710730 (89)	total: 476ms	remaining: 4.24s
200:	learn: 0.5902754	test: 0.6740546	best: 0.6705883 (108)	total: 1.01s	remaining: 4.03s
300:	learn: 0.5607367	test: 0.6776205	best: 0.6705883 (108)	total: 1.67s	remaining: 3.87s
400:	learn: 0.5275579	test: 0.6819584	best: 0.6705883 (108)	total: 2.26s	remaining: 3.37s
500:	learn: 0.4993131	test: 0.6869277	best: 0.6705883 (108)	total: 2.87s	remaining: 2.86s
600:	learn: 0.4745968	test: 0.6895157	best: 0.6705883 (108)	total: 3.61s	remaining: 2.4s
700:	learn: 0.4521102	test: 0.6943679	best: 0.6705883 (108)	total: 4.15s	remaining: 1.77s

800:	learn: 0.4320791	test: 0.6986686	best: 0.6705883 (108)	total: 4.65s	remaining: 1.16s
900:	learn: 0.4144922	test: 0.7034818	best: 0.6705883 (108)	total: 5.22s	remaining: 574ms
999:	learn: 0.3985833	test: 0.7066877	best: 0.6705883 (108)	total: 5.88s	remaining: 0us

bestTest = 0.6705883076
bestIteration = 108

22:	loss: 0.6705883	best: 0.6661829 (0)	total: 1m 7s	remaining: 49.8s
0:	learn: 0.6874285	test: 0.6908244	best: 0.6908244 (0)	total: 4.97ms	remaining: 4.97s
100:	learn: 0.5587452	test: 0.6824610	best: 0.6745717 (31)	total: 571ms	remaining: 5.08s
200:	learn: 0.4598942	test: 0.6946065	best: 0.6745717 (31)	total: 1.06s	remaining: 4.24s
300:	learn: 0.3908490	test: 0.7159683	best: 0.6745717 (31)	total: 1.8s	remaining: 4.17s
400:	learn: 0.3463022	test: 0.7296895	best: 0.6745717 (31)	total: 2.33s	remaining: 3.48s
500:	learn: 0.3082576	test: 0.7454069	best: 0.6745717 (31)	total: 2.87s	remaining: 2.85s
600:	learn: 0.2752614	test: 0.7649758	best: 0.6745717 (31)	total: 3.29s	remaining: 2.18s
700:	learn: 0.2442715	test: 0.7822076	best: 0.6745717 (31)	total: 3.71s	remaining: 1.58s
800:	learn: 0.2209158	test: 0.7959634	best: 0.6745717 (31)	total: 4.25s	remaining: 1.05s
900:	learn: 0.2003039	test: 0.8098166	best: 0.6745717 (31)	total: 4.86s	remaining: 534ms
999:	learn: 0.1838961	test: 0.8253175	best: 0.6745717 (31)	total: 5.52s	remaining: 0us

bestTest = 0.6745717043
bestIteration = 31

23:	loss: 0.6745717	best: 0.6661829 (0)	total: 1m 12s	remaining: 48.6s
0:	learn: 0.6914360	test: 0.6923546	best: 0.6923546 (0)	total: 4.23ms	remaining: 4.23s
100:	learn: 0.6268937	test: 0.6723716	best: 0.6721641 (97)	total: 434ms	remaining: 3.87s
200:	learn: 0.5956645	test: 0.6728074	best: 0.6717103 (153)	total: 858ms	remaining: 3.41s
300:	learn: 0.5699879	test: 0.6761573	best: 0.6717103 (153)	total: 1.3s	remaining: 3.01s
400:	learn: 0.5406389	test: 0.6792056	best: 0.6717103 (153)	total: 1.78s	remaining: 2.66s
500:	learn: 0.5132352	test: 0.6849848	best: 0.6717103 (153)	total: 2.24s	remaining: 2.23s
600:	learn: 0.4887194	test: 0.6898516	best: 0.6717103 (153)	total: 2.66s	remaining: 1.77s
700:	learn: 0.4695430	test: 0.6940956	best: 0.6717103 (153)	total: 3.08s	remaining: 1.31s
800:	learn: 0.4502778	test: 0.6953755	best: 0.6717103 (153)	total: 3.5s	remaining: 870ms
900:	learn: 0.4308567	test: 0.7013381	best: 0.6717103 (153)	total: 3.94s	remaining: 433ms
999:	learn: 0.4159504	test: 0.7053069	best: 0.6717103 (153)	total: 4.37s	remaining: 0us

bestTest = 0.6717102938
bestIteration = 153

24:	loss: 0.6717103	best: 0.6661829 (0)	total: 1m 17s	remaining: 46.4s
0:	learn: 0.6876490	test: 0.6907101	best: 0.6907101 (0)	total: 3.77ms	remaining: 3.76s
100:	learn: 0.5580288	test: 0.6785424	best: 0.6728892 (33)	total: 465ms	remaining: 4.14s
200:	learn: 0.4740352	test: 0.6936341	best: 0.6728892 (33)	total: 893ms	remaining: 3.55s
300:	learn: 0.4075229	test: 0.7161209	best: 0.6728892 (33)	total: 1.4s	remaining: 3.25s
400:	learn: 0.3637437	test: 0.7310057	best: 0.6728892 (33)	total: 1.92s	remaining: 2.87s
500:	learn: 0.3270580	test: 0.7430137	best: 0.6728892 (33)	total: 2.48s	remaining: 2.47s
600:	learn: 0.2951735	test: 0.7593432	best: 0.6728892 (33)	total: 3.14s	remaining: 2.08s
700:	learn: 0.2696793	test: 0.7727976	best: 0.6728892 (33)	total: 3.76s	remaining: 1.6s
800:	learn: 0.2485196	test: 0.7855594	best: 0.6728892 (33)	total: 4.35s	remaining: 1.08s
900:	learn: 0.2293919	test: 0.7968542	best: 0.6728892 (33)	total: 5.02s	remaining: 551ms
999:	learn: 0.2115590	test: 0.8067192	best: 0.6728892 (33)	total: 5.68s	remaining: 0us

bestTest = 0.6728892113
bestIteration = 33

25:	loss: 0.6728892	best: 0.6661829 (0)	total: 1m 23s	remaining: 44.7s
0:	learn: 0.6914873	test: 0.6923406	best: 0.6923406 (0)	total: 4.26ms	remaining: 4.26s
100:	learn: 0.6302598	test: 0.6721509	best: 0.6720537 (98)	total: 669ms	remaining: 5.96s
200:	learn: 0.6009844	test: 0.6755516	best: 0.6718421 (107)	total: 1.35s	remaining: 5.36s
300:	learn: 0.5766741	test: 0.6796703	best: 0.6718421 (107)	total: 1.91s	remaining: 4.43s
400:	learn: 0.5496396	test: 0.6828738	best: 0.6718421 (107)	total: 2.46s	remaining: 3.67s
500:	learn: 0.5262562	test: 0.6852222	best: 0.6718421 (107)	total: 3.11s	remaining: 3.1s
600:	learn: 0.5032660	test: 0.6891520	best: 0.6718421 (107)	total: 3.79s	remaining: 2.51s
700:	learn: 0.4826746	test: 0.6911403	best: 0.6718421 (107)	total: 4.28s	remaining: 1.83s
800:	learn: 0.4653568	test: 0.6936806	best: 0.6718421 (107)	total: 4.82s	remaining: 1.2s
900:	learn: 0.4493751	test: 0.6971776	best: 0.6718421 (107)	total: 5.33s	remaining: 586ms
999:	learn: 0.4352157	test: 0.7009654	best: 0.6718421 (107)	total: 6.01s	remaining: 0us

bestTest = 0.6718420923
bestIteration = 107

26:	loss: 0.6718421	best: 0.6661829 (0)	total: 1m 29s	remaining: 42.9s
0:	learn: 0.6878108	test: 0.6906488	best: 0.6906488 (0)	total: 4.19ms	remaining: 4.18s
100:	learn: 0.5691923	test: 0.6819758	best: 0.6733819 (26)	total: 663ms	remaining: 5.9s
200:	learn: 0.4876837	test: 0.6906180	best: 0.6733819 (26)	total: 1.27s	remaining: 5.06s
300:	learn: 0.4290004	test: 0.7063399	best: 0.6733819 (26)	total: 1.86s	remaining: 4.33s
400:	learn: 0.3853244	test: 0.7223556	best: 0.6733819 (26)	total: 2.38s	remaining: 3.55s
500:	learn: 0.3459860	test: 0.7374799	best: 0.6733819 (26)	total: 2.83s	remaining: 2.82s
600:	learn: 0.3173220	test: 0.7496416	best: 0.6733819 (26)	total: 3.36s	remaining: 2.23s
700:	learn: 0.2913384	test: 0.7624378	best: 0.6733819 (26)	total: 3.93s	remaining: 1.68s
800:	learn: 0.2698722	test: 0.7754051	best: 0.6733819 (26)	total: 4.53s	remaining: 1.12s
900:	learn: 0.2499515	test: 0.7874074	best: 0.6733819 (26)	total: 5.2s	remaining: 571ms
999:	learn: 0.2312459	test: 0.8005534	best: 0.6733819 (26)	total: 5.78s	remaining: 0us

bestTest = 0.6733819383
bestIteration = 26

27:	loss: 0.6733819	best: 0.6661829 (0)	total: 1m 34s	remaining: 40.7s
0:	learn: 0.6915292	test: 0.6923328	best: 0.6923328 (0)	total: 4.42ms	remaining: 4.42s
100:	learn: 0.6312777	test: 0.6723576	best: 0.6719997 (91)	total: 592ms	remaining: 5.27s
200:	learn: 0.6024269	test: 0.6737559	best: 0.6718213 (106)	total: 1.21s	remaining: 4.82s
300:	learn: 0.5779472	test: 0.6758473	best: 0.6718213 (106)	total: 1.84s	remaining: 4.28s
400:	learn: 0.5547007	test: 0.6778381	best: 0.6718213 (106)	total: 2.49s	remaining: 3.72s
500:	learn: 0.5315869	test: 0.6803007	best: 0.6718213 (106)	total: 3.35s	remaining: 3.34s
600:	learn: 0.5120186	test: 0.6843875	best: 0.6718213 (106)	total: 4.03s	remaining: 2.68s
700:	learn: 0.4937656	test: 0.6875748	best: 0.6718213 (106)	total: 4.62s	remaining: 1.97s
800:	learn: 0.4764639	test: 0.6925716	best: 0.6718213 (106)	total: 5.27s	remaining: 1.31s
900:	learn: 0.4608066	test: 0.6952803	best: 0.6718213 (106)	total: 5.81s	remaining: 639ms
999:	learn: 0.4456850	test: 0.6978500	best: 0.6718213 (106)	total: 6.34s	remaining: 0us

bestTest = 0.671821298
bestIteration = 106

28:	loss: 0.6718213	best: 0.6661829 (0)	total: 1m 41s	remaining: 38.4s
0:	learn: 0.6879423	test: 0.6906131	best: 0.6906131 (0)	total: 4.25ms	remaining: 4.25s
100:	learn: 0.5738096	test: 0.6781619	best: 0.6720405 (36)	total: 530ms	remaining: 4.72s
200:	learn: 0.4928256	test: 0.6935899	best: 0.6720405 (36)	total: 1.06s	remaining: 4.23s
300:	learn: 0.4410544	test: 0.7012175	best: 0.6720405 (36)	total: 1.55s	remaining: 3.6s
400:	learn: 0.3974493	test: 0.7175550	best: 0.6720405 (36)	total: 2s	remaining: 2.99s
500:	learn: 0.3655055	test: 0.7260151	best: 0.6720405 (36)	total: 2.43s	remaining: 2.42s
600:	learn: 0.3360559	test: 0.7358485	best: 0.6720405 (36)	total: 2.88s	remaining: 1.91s
700:	learn: 0.3089602	test: 0.7487772	best: 0.6720405 (36)	total: 3.32s	remaining: 1.42s
800:	learn: 0.2860051	test: 0.7612467	best: 0.6720405 (36)	total: 3.9s	remaining: 969ms
900:	learn: 0.2669604	test: 0.7739343	best: 0.6720405 (36)	total: 4.39s	remaining: 483ms
999:	learn: 0.2474159	test: 0.7842287	best: 0.6720405 (36)	total: 4.82s	remaining: 0us

bestTest = 0.6720404564
bestIteration = 36

29:	loss: 0.6720405	best: 0.6661829 (0)	total: 1m 46s	remaining: 35.4s
0:	learn: 0.6907913	test: 0.6923717	best: 0.6923717 (0)	total: 13.2ms	remaining: 13.1s
100:	learn: 0.5689269	test: 0.6771034	best: 0.6764213 (54)	total: 1.29s	remaining: 11.5s

200:	learn: 0.5151945	test: 0.6850406	best: 0.6764213 (54)	total: 2.57s	remaining: 10.2s
300:	learn: 0.4684443	test: 0.6953065	best: 0.6764213 (54)	total: 3.86s	remaining: 8.95s
400:	learn: 0.4151965	test: 0.7020599	best: 0.6764213 (54)	total: 5.21s	remaining: 7.78s
500:	learn: 0.3735743	test: 0.7083082	best: 0.6764213 (54)	total: 6.62s	remaining: 6.59s
600:	learn: 0.3361702	test: 0.7176360	best: 0.6764213 (54)	total: 8.03s	remaining: 5.33s
700:	learn: 0.3035086	test: 0.7247127	best: 0.6764213 (54)	total: 9.48s	remaining: 4.04s
800:	learn: 0.2767343	test: 0.7346197	best: 0.6764213 (54)	total: 10.8s	remaining: 2.67s
900:	learn: 0.2546864	test: 0.7446112	best: 0.6764213 (54)	total: 12s	remaining: 1.32s
999:	learn: 0.2345906	test: 0.7527721	best: 0.6764213 (54)	total: 13.3s	remaining: 0us

bestTest = 0.6764212879
bestIteration = 54

30:	loss: 0.6764213	best: 0.6661829 (0)	total: 1m 59s	remaining: 34.7s
0:	learn: 0.6856225	test: 0.6909128	best: 0.6909128 (0)	total: 12.8ms	remaining: 12.7s
100:	learn: 0.4442060	test: 0.6966312	best: 0.6784150 (21)	total: 1.28s	remaining: 11.4s
200:	learn: 0.3053951	test: 0.7321597	best: 0.6784150 (21)	total: 2.56s	remaining: 10.2s
300:	learn: 0.2306664	test: 0.7708596	best: 0.6784150 (21)	total: 3.84s	remaining: 8.92s
400:	learn: 0.1769275	test: 0.8067658	best: 0.6784150 (21)	total: 5.11s	remaining: 7.63s
500:	learn: 0.1397801	test: 0.8474243	best: 0.6784150 (21)	total: 6.55s	remaining: 6.52s
600:	learn: 0.1129995	test: 0.8810464	best: 0.6784150 (21)	total: 7.98s	remaining: 5.3s
700:	learn: 0.0952954	test: 0.9121409	best: 0.6784150 (21)	total: 9.4s	remaining: 4.01s
800:	learn: 0.0807278	test: 0.9412391	best: 0.6784150 (21)	total: 10.8s	remaining: 2.68s
900:	learn: 0.0711159	test: 0.9639120	best: 0.6784150 (21)	total: 12.2s	remaining: 1.34s
999:	learn: 0.0625697	test: 0.9886093	best: 0.6784150 (21)	total: 13.5s	remaining: 0us

bestTest = 0.6784149845
bestIteration = 21

31:	loss: 0.6784150	best: 0.6661829 (0)	total: 2m 13s	remaining: 33.3s
0:	learn: 0.6910505	test: 0.6923297	best: 0.6923297 (0)	total: 13ms	remaining: 13s
100:	learn: 0.5880733	test: 0.6766696	best: 0.6758106 (54)	total: 1.31s	remaining: 11.7s
200:	learn: 0.5423685	test: 0.6824183	best: 0.6758106 (54)	total: 2.61s	remaining: 10.4s
300:	learn: 0.4997338	test: 0.6885856	best: 0.6758106 (54)	total: 3.92s	remaining: 9.1s
400:	learn: 0.4566160	test: 0.6945302	best: 0.6758106 (54)	total: 5.21s	remaining: 7.79s
500:	learn: 0.4189737	test: 0.7003694	best: 0.6758106 (54)	total: 6.58s	remaining: 6.55s
600:	learn: 0.3863192	test: 0.7087030	best: 0.6758106 (54)	total: 7.87s	remaining: 5.23s
700:	learn: 0.3578253	test: 0.7167262	best: 0.6758106 (54)	total: 9.18s	remaining: 3.92s
800:	learn: 0.3323321	test: 0.7241593	best: 0.6758106 (54)	total: 10.6s	remaining: 2.63s
900:	learn: 0.3090333	test: 0.7301106	best: 0.6758106 (54)	total: 12s	remaining: 1.32s
999:	learn: 0.2893550	test: 0.7377025	best: 0.6758106 (54)	total: 13.4s	remaining: 0us

bestTest = 0.6758105551
bestIteration = 54

32:	loss: 0.6758106	best: 0.6661829 (0)	total: 2m 26s	remaining: 31.1s
0:	learn: 0.6864152	test: 0.6906735	best: 0.6906735 (0)	total: 14.9ms	remaining: 14.9s
100:	learn: 0.4907533	test: 0.6915409	best: 0.6753318 (19)	total: 1.4s	remaining: 12.4s
200:	learn: 0.3730625	test: 0.7217015	best: 0.6753318 (19)	total: 2.74s	remaining: 10.9s
300:	learn: 0.2930494	test: 0.7420239	best: 0.6753318 (19)	total: 4.05s	remaining: 9.4s
400:	learn: 0.2413133	test: 0.7667987	best: 0.6753318 (19)	total: 5.35s	remaining: 7.99s
500:	learn: 0.2024081	test: 0.7914017	best: 0.6753318 (19)	total: 6.65s	remaining: 6.62s
600:	learn: 0.1726619	test: 0.8141258	best: 0.6753318 (19)	total: 7.93s	remaining: 5.27s
700:	learn: 0.1492782	test: 0.8376086	best: 0.6753318 (19)	total: 9.25s	remaining: 3.94s
800:	learn: 0.1311164	test: 0.8593730	best: 0.6753318 (19)	total: 10.5s	remaining: 2.62s
900:	learn: 0.1161509	test: 0.8790519	best: 0.6753318 (19)	total: 11.9s	remaining: 1.3s
999:	learn: 0.1037475	test: 0.8988570	best: 0.6753318 (19)	total: 13.3s	remaining: 0us

bestTest = 0.675331789
bestIteration = 19

33:	loss: 0.6753318	best: 0.6661829 (0)	total: 2m 39s	remaining: 28.2s
0:	learn: 0.6911758	test: 0.6923166	best: 0.6923166 (0)	total: 14.3ms	remaining: 14.3s
100:	learn: 0.5956766	test: 0.6751519	best: 0.6746852 (54)	total: 1.44s	remaining: 12.8s
200:	learn: 0.5538542	test: 0.6815638	best: 0.6746852 (54)	total: 2.86s	remaining: 11.4s
300:	learn: 0.5164340	test: 0.6854765	best: 0.6746852 (54)	total: 4.22s	remaining: 9.79s
400:	learn: 0.4786854	test: 0.6894217	best: 0.6746852 (54)	total: 5.55s	remaining: 8.29s
500:	learn: 0.4398582	test: 0.6962923	best: 0.6746852 (54)	total: 6.84s	remaining: 6.82s
600:	learn: 0.4096669	test: 0.7027905	best: 0.6746852 (54)	total: 8.14s	remaining: 5.41s
700:	learn: 0.3834326	test: 0.7084449	best: 0.6746852 (54)	total: 9.44s	remaining: 4.02s
800:	learn: 0.3585519	test: 0.7129626	best: 0.6746852 (54)	total: 10.7s	remaining: 2.67s
900:	learn: 0.3394360	test: 0.7180868	best: 0.6746852 (54)	total: 12s	remaining: 1.32s
999:	learn: 0.3215843	test: 0.7244239	best: 0.6746852 (54)	total: 13.3s	remaining: 0us

bestTest = 0.6746851688
bestIteration = 54

34:	loss: 0.6746852	best: 0.6661829 (0)	total: 2m 53s	remaining: 24.8s
0:	learn: 0.6868076	test: 0.6905976	best: 0.6905976 (0)	total: 14.2ms	remaining: 14.2s
100:	learn: 0.4969071	test: 0.6898053	best: 0.6738322 (20)	total: 1.34s	remaining: 11.9s
200:	learn: 0.3937737	test: 0.7135037	best: 0.6738322 (20)	total: 2.76s	remaining: 11s
300:	learn: 0.3256413	test: 0.7343018	best: 0.6738322 (20)	total: 4.21s	remaining: 9.78s
400:	learn: 0.2750875	test: 0.7604040	best: 0.6738322 (20)	total: 5.7s	remaining: 8.52s
500:	learn: 0.2375515	test: 0.7757263	best: 0.6738322 (20)	total: 7.15s	remaining: 7.12s
600:	learn: 0.2060707	test: 0.7936872	best: 0.6738322 (20)	total: 8.44s	remaining: 5.6s
700:	learn: 0.1841427	test: 0.8100144	best: 0.6738322 (20)	total: 9.74s	remaining: 4.16s
800:	learn: 0.1629696	test: 0.8299274	best: 0.6738322 (20)	total: 11s	remaining: 2.74s
900:	learn: 0.1454130	test: 0.8474458	best: 0.6738322 (20)	total: 12.3s	remaining: 1.35s
999:	learn: 0.1320272	test: 0.8647091	best: 0.6738322 (20)	total: 13.6s	remaining: 0us

bestTest = 0.6738321542
bestIteration = 20

35:	loss: 0.6738322	best: 0.6661829 (0)	total: 3m 7s	remaining: 20.8s
0:	learn: 0.6912621	test: 0.6923100	best: 0.6923100 (0)	total: 12.8ms	remaining: 12.7s
100:	learn: 0.6020061	test: 0.6736138	best: 0.6731077 (83)	total: 1.31s	remaining: 11.7s
200:	learn: 0.5629186	test: 0.6784910	best: 0.6731077 (83)	total: 2.65s	remaining: 10.6s
300:	learn: 0.5260682	test: 0.6822598	best: 0.6731077 (83)	total: 4.04s	remaining: 9.39s
400:	learn: 0.4907820	test: 0.6871956	best: 0.6731077 (83)	total: 5.49s	remaining: 8.2s
500:	learn: 0.4595902	test: 0.6911652	best: 0.6731077 (83)	total: 6.92s	remaining: 6.89s
600:	learn: 0.4317413	test: 0.6960679	best: 0.6731077 (83)	total: 8.36s	remaining: 5.55s
700:	learn: 0.4079725	test: 0.7000745	best: 0.6731077 (83)	total: 9.68s	remaining: 4.13s
800:	learn: 0.3852833	test: 0.7059352	best: 0.6731077 (83)	total: 11s	remaining: 2.73s
900:	learn: 0.3676418	test: 0.7093932	best: 0.6731077 (83)	total: 12.3s	remaining: 1.35s
999:	learn: 0.3490490	test: 0.7135466	best: 0.6731077 (83)	total: 13.6s	remaining: 0us

bestTest = 0.6731077481
bestIteration = 83

36:	loss: 0.6731077	best: 0.6661829 (0)	total: 3m 20s	remaining: 16.3s
0:	learn: 0.6870810	test: 0.6905577	best: 0.6905577 (0)	total: 14.8ms	remaining: 14.8s
100:	learn: 0.5116018	test: 0.6960480	best: 0.6749846 (18)	total: 1.32s	remaining: 11.7s
200:	learn: 0.4080332	test: 0.7165850	best: 0.6749846 (18)	total: 2.63s	remaining: 10.4s
300:	learn: 0.3446899	test: 0.7354248	best: 0.6749846 (18)	total: 3.93s	remaining: 9.13s
400:	learn: 0.2951063	test: 0.7568225	best: 0.6749846 (18)	total: 5.25s	remaining: 7.84s
500:	learn: 0.2586094	test: 0.7741352	best: 0.6749846 (18)	total: 6.65s	remaining: 6.62s
600:	learn: 0.2263590	test: 0.7929606	best: 0.6749846 (18)	total: 8.08s	remaining: 5.37s
700:	learn: 0.2017806	test: 0.8106083	best: 0.6749846 (18)	total: 9.56s	remaining: 4.08s
800:	learn: 0.1815742	test: 0.8287187	best: 0.6749846 (18)	total: 11s	remaining: 2.73s

900:	learn: 0.1644053	test: 0.8422940	best: 0.6749846 (18)	total: 12.3s	remaining: 1.35s
999:	learn: 0.1504657	test: 0.8592547	best: 0.6749846 (18)	total: 13.6s	remaining: 0us

bestTest = 0.6749845775
bestIteration = 18

37:	loss: 0.6749846	best: 0.6661829 (0)	total: 3m 34s	remaining: 11.3s
0:	learn: 0.6913298	test: 0.6923056	best: 0.6923056 (0)	total: 13.1ms	remaining: 13s
100:	learn: 0.6046480	test: 0.6743090	best: 0.6743090 (100)	total: 1.3s	remaining: 11.6s
200:	learn: 0.5674906	test: 0.6781292	best: 0.6743090 (100)	total: 2.6s	remaining: 10.4s
300:	learn: 0.5330785	test: 0.6841140	best: 0.6743090 (100)	total: 3.93s	remaining: 9.12s
400:	learn: 0.5004433	test: 0.6865072	best: 0.6743090 (100)	total: 5.21s	remaining: 7.79s
500:	learn: 0.4706845	test: 0.6909426	best: 0.6743090 (100)	total: 6.5s	remaining: 6.47s
600:	learn: 0.4455295	test: 0.6962738	best: 0.6743090 (100)	total: 7.78s	remaining: 5.16s
700:	learn: 0.4213492	test: 0.7018490	best: 0.6743090 (100)	total: 9.19s	remaining: 3.92s
800:	learn: 0.3991362	test: 0.7056236	best: 0.6743090 (100)	total: 10.6s	remaining: 2.64s
900:	learn: 0.3791091	test: 0.7098318	best: 0.6743090 (100)	total: 12.1s	remaining: 1.33s
999:	learn: 0.3624853	test: 0.7141826	best: 0.6743090 (100)	total: 13.5s	remaining: 0us

bestTest = 0.6743090443
bestIteration = 100

38:	loss: 0.6743090	best: 0.6661829 (0)	total: 3m 47s	remaining: 5.84s
0:	learn: 0.6872953	test: 0.6905310	best: 0.6905310 (0)	total: 12.4ms	remaining: 12.4s
100:	learn: 0.5146294	test: 0.6831371	best: 0.6720251 (23)	total: 1.31s	remaining: 11.7s
200:	learn: 0.4210394	test: 0.7008216	best: 0.6720251 (23)	total: 2.6s	remaining: 10.4s
300:	learn: 0.3609864	test: 0.7184504	best: 0.6720251 (23)	total: 3.91s	remaining: 9.08s
400:	learn: 0.3144960	test: 0.7363136	best: 0.6720251 (23)	total: 5.21s	remaining: 7.78s
500:	learn: 0.2769399	test: 0.7540312	best: 0.6720251 (23)	total: 6.5s	remaining: 6.47s
600:	learn: 0.2439322	test: 0.7690574	best: 0.6720251 (23)	total: 7.79s	remaining: 5.17s
700:	learn: 0.2182839	test: 0.7817989	best: 0.6720251 (23)	total: 9.07s	remaining: 3.87s
800:	learn: 0.1975423	test: 0.7991757	best: 0.6720251 (23)	total: 10.4s	remaining: 2.58s
900:	learn: 0.1802256	test: 0.8133794	best: 0.6720251 (23)	total: 11.8s	remaining: 1.29s
999:	learn: 0.1662928	test: 0.8277182	best: 0.6720251 (23)	total: 13.2s	remaining: 0us

bestTest = 0.6720251357
bestIteration = 23

39:	loss: 0.6720251	best: 0.6661829 (0)	total: 4m 1s	remaining: 0us
Estimating final quality...
Training on fold [0/3]
0:	learn: 0.6920988	test: 0.6923072	best: 0.6923072 (0)	total: 1.32ms	remaining: 1.32s
100:	learn: 0.6564393	test: 0.6747487	best: 0.6747487 (100)	total: 175ms	remaining: 1.56s
200:	learn: 0.6433198	test: 0.6753117	best: 0.6743941 (155)	total: 366ms	remaining: 1.46s
300:	learn: 0.6305639	test: 0.6749426	best: 0.6743941 (155)	total: 550ms	remaining: 1.28s
400:	learn: 0.6161276	test: 0.6770380	best: 0.6743941 (155)	total: 749ms	remaining: 1.12s
500:	learn: 0.6032746	test: 0.6788591	best: 0.6743941 (155)	total: 938ms	remaining: 934ms
600:	learn: 0.5913640	test: 0.6797336	best: 0.6743941 (155)	total: 1.15s	remaining: 767ms
700:	learn: 0.5816088	test: 0.6814126	best: 0.6743941 (155)	total: 1.36s	remaining: 583ms
800:	learn: 0.5715632	test: 0.6832711	best: 0.6743941 (155)	total: 1.57s	remaining: 389ms
900:	learn: 0.5624731	test: 0.6846458	best: 0.6743941 (155)	total: 1.78s	remaining: 195ms
999:	learn: 0.5536832	test: 0.6860745	best: 0.6743941 (155)	total: 1.98s	remaining: 0us

bestTest = 0.6743941148
bestIteration = 155

Training on fold [1/3]
0:	learn: 0.6921687	test: 0.6922104	best: 0.6922104 (0)	total: 13.2ms	remaining: 13.1s
100:	learn: 0.6576837	test: 0.6694185	best: 0.6694185 (100)	total: 201ms	remaining: 1.79s
200:	learn: 0.6448964	test: 0.6684078	best: 0.6682543 (192)	total: 408ms	remaining: 1.62s
300:	learn: 0.6327346	test: 0.6687533	best: 0.6681350 (243)	total: 593ms	remaining: 1.38s
400:	learn: 0.6178411	test: 0.6683378	best: 0.6680427 (387)	total: 810ms	remaining: 1.21s
500:	learn: 0.6033858	test: 0.6689324	best: 0.6675765 (411)	total: 1s	remaining: 997ms
600:	learn: 0.5913419	test: 0.6688258	best: 0.6675765 (411)	total: 1.2s	remaining: 795ms
700:	learn: 0.5812529	test: 0.6705656	best: 0.6675765 (411)	total: 1.37s	remaining: 586ms
800:	learn: 0.5710375	test: 0.6714008	best: 0.6675765 (411)	total: 1.55s	remaining: 385ms
900:	learn: 0.5610227	test: 0.6737578	best: 0.6675765 (411)	total: 1.71s	remaining: 188ms
999:	learn: 0.5523092	test: 0.6750094	best: 0.6675765 (411)	total: 1.88s	remaining: 0us

bestTest = 0.6675764926
bestIteration = 411

Training on fold [2/3]
0:	learn: 0.6919856	test: 0.6922531	best: 0.6922531 (0)	total: 4.94ms	remaining: 4.94s
100:	learn: 0.6568814	test: 0.6730621	best: 0.6730621 (100)	total: 178ms	remaining: 1.58s
200:	learn: 0.6437992	test: 0.6707382	best: 0.6706900 (193)	total: 352ms	remaining: 1.4s
300:	learn: 0.6323093	test: 0.6711835	best: 0.6705264 (244)	total: 522ms	remaining: 1.21s
400:	learn: 0.6185494	test: 0.6725545	best: 0.6705264 (244)	total: 698ms	remaining: 1.04s
500:	learn: 0.6059300	test: 0.6741038	best: 0.6705264 (244)	total: 871ms	remaining: 867ms
600:	learn: 0.5942303	test: 0.6760865	best: 0.6705264 (244)	total: 1.03s	remaining: 686ms
700:	learn: 0.5841894	test: 0.6780056	best: 0.6705264 (244)	total: 1.2s	remaining: 513ms
800:	learn: 0.5746280	test: 0.6810126	best: 0.6705264 (244)	total: 1.38s	remaining: 344ms
900:	learn: 0.5647577	test: 0.6815466	best: 0.6705264 (244)	total: 1.55s	remaining: 170ms
999:	learn: 0.5555302	test: 0.6826117	best: 0.6705264 (244)	total: 1.72s	remaining: 0us

bestTest = 0.670526405
bestIteration = 244

In [47]:
final_model = CatBoostClassifier(depth= 4,
                                l2_leaf_reg= 1,
                                learning_rate= 0.03,
                                verbose=100)

In [48]:
final_model.fit(X_train_2, y_train_2)
y_pred_final = final_model.predict(X_test_2)
print('----------------------')
print('Accuracy score: %.2f\n'
      'Precision score: %.2f\n'
      'Recall score: %.2f\n'
      'f1 score: %.2f\n'
      'Roc_auc score: %.2f' % (accuracy_score(y_test_2, y_pred_final), precision_score(y_test_2, y_pred_final),
                               recall_score(y_test_2, y_pred_final), f1_score(y_test_2, y_pred_final),
                               roc_auc_score(y_test_2, y_pred_final)))

0:	learn: 0.6921865	total: 1.46ms	remaining: 1.46s
100:	learn: 0.6606074	total: 153ms	remaining: 1.36s
200:	learn: 0.6502378	total: 305ms	remaining: 1.21s
300:	learn: 0.6417686	total: 451ms	remaining: 1.05s
400:	learn: 0.6303875	total: 598ms	remaining: 894ms
500:	learn: 0.6206407	total: 741ms	remaining: 738ms
600:	learn: 0.6113827	total: 894ms	remaining: 594ms
700:	learn: 0.6038880	total: 1.04s	remaining: 444ms
800:	learn: 0.5961795	total: 1.21s	remaining: 302ms
900:	learn: 0.5890899	total: 1.38s	remaining: 151ms
999:	learn: 0.5823122	total: 1.53s	remaining: 0us
----------------------
Accuracy score: 0.64
Precision score: 0.61
Recall score: 0.41
f1 score: 0.49
Roc_auc score: 0.61

# Prediction

In [49]:
test_df = test_set.merge(ml_df)
test_df.head()

,client_id,transactions_count,code_mode,type_mode,sum,sum_type,sum_code,mult_code_top3,mult_type_top3
0,61240380,15,5411,1010,-245029.43,3150,15766,144335037714,1154733000
1,34114030,3,6011,1010,170464.33,10030,11510,33054489,14231001000
2,15926722,3,6011,2010,-406510.75,2010,6011,6011,2010
3,50598019,31,5921,1010,-102308.88,4130,17343,192583609841,2253411000
4,76475250,37,5411,1010,-5836986.22,4130,16753,173393552451,2253411000

In [50]:
y_test_pred = final_model.predict(test_df)

In [51]:
answer = test_set.copy()

In [52]:
answer['target'] = y_test_pred

In [53]:
answer

      client_id  target
0      61240380       0
1      34114030       0
2      15926722       1
3      50598019       1
4      76475250       1
...         ...     ...
2651   13491189       1
2652   54047312       1
2653   68859452       1
2654   95721840       0
2655    4022959       1

[2656 rows x 2 columns]

In [57]:
answer.to_csv('C:/Users/Mr0Wo/OneDrive/Рабочий стол/Git_repositories/Data-science-cases/ML-cases/user-gender-detection/solution.csv', index=False)